
<% if @patients.empty? %>
  <div>
    There are no test patients to demonstrate, please create one using the button below.
  </div>
<% else %>
  Test Patients
  <% @patients.each do |p| %>
    <%= link_to p.details, patient_path(p), class: "btn" %>
  <% end %>
<% end %>

<%= link_to "Create New Test Patient", new_patient_path, class: "btn new"%>