<h1>Test Patients</h1>

<% if @patients.empty? %>
  <div>
    There are no test patients to demonstrate, please create one using the button below.
  </div>
<% else %>

  <% @patients.each do |p| %>
    <div class="row vertical-align listbox">
      <div>
      <%= image_tag "person.png"%>
      </div>
      <div>
        <%= link_to p.details, patient_path(p), class: "btn btn-default" %>
      </div>
    </div>
  <% end %>
<% end %>

<%= link_to "Create New Test Patient", new_patient_path, class: "btn btn-primary"%>