<div class="row listbox">
  <div class="row">
    <div class="col-xs-6 listbox-title">
      Admission: <%= a.ward.capitalize %> Ward
    </div>
    <div class="col-xs-6">
      <%= a.consultant.details %>
    </div>
  </div>
  <div class="row listbox-middle">
    <div class="col-xs-6">
      <%= a.admit_time.strftime("Admitted %d %b %Y")%>
      - Currently an Inpatient
    </div>
  </div>
  <div class="row listbox-footer">
    <%= render partial: "admissions/document_management", locals: {a: a} %>
  </div>
</div>