<div class="row mt-2">
  <div class="col-3">
    Admission <% a.ward.capitalize %> Ward
  </div>
  <div class="col-3">
    <%= a.consultant.details %>
  </dov>
  <div class="col-3">
    <div>
      <%= a.admit_time.strftime("Admitted %d%b%Y")%>
    </div>
    <div>
      Currently an Inpatient
    </div>
  </div>
  <div class="col-3">
    <%= render partial: "admissions/document_management", locals: {a: a} %>
  </dov>
  

</div>