<div class="row mt-2">
  <div class="card-title">
    Admission <% a.ward.capitalize %> Ward
  </div>
  <div class="card-body>
    <%= a.consultant.details %>
  </div>
  <div class="col-3">
    <div>
      <%= a.admit_time.strftime("Admitted %d%b%Y")%>
    </div>
    <div>
      <%= a.discharge_time.strftime("Discharged %d%b%Y")%>
    </div>
  </div>
  <div class="col-3">
    <%= render partial: "admissions/document_management", locals: {a: a} %>
  </div>

</div>